@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes bubblesAnimation {
  0% {
    opacity: 0;
    transform: translateY(0); }
  50% {
    opacity: 0.4; }
  70% {
    opacity: 0.4; }
  100% {
    opacity: 0;
    transform: translateY(-80vh); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-image: linear-gradient(to right, #0f2755, #0b4e52); }

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 1.2; }

.heading-primary {
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    width: 75%;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    margin-bottom: 1.6rem;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    margin-bottom: 4.8rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.6rem; } }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  margin-bottom: 4.8rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem;
      margin-bottom: 2.4rem; } }

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  margin-bottom: 1.8rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 1.8rem; } }

.paragraph {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: 0.15rem;
  margin-bottom: 4.8rem; }
  @media only screen and (max-width: 56.25em) {
    .paragraph {
      font-size: 1.6rem; } }

.u-center-text {
  text-align: center !important; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  border-radius: 10rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  position: relative;
  transition: all 0.3s;
  z-index: 1000; }

.btn:hover::after, .btn:active::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  background-color: #fff; }

.btn--outlined {
  font-size: 1.8rem;
  border: solid 1px #fff;
  padding: 1.2rem 2.4rem;
  color: #fff; }
  .btn--outlined:hover {
    background-color: #fff;
    color: #063460; }

.btn--full {
  font-size: 1.8rem;
  background-color: #fff;
  padding: 1.2rem 2.4rem;
  color: #063460; }
  .btn--full::after {
    background-color: #fff; }

.btn--text:link, .btn--text:visited {
  display: block;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
  transition: all .3s; }

.btn--text:hover, .btn--text:active {
  transform: scale(1.1); }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.6s; }

.show {
  position: relative;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.5s; }
  .show:hover {
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.15);
    transform: scale(1.05); }
  .show__arrow {
    align-self: center;
    cursor: pointer;
    transition: all 0.4s; }
    .show__arrow--up:hover {
      transform: translateY(-10px); }
    @media only screen and (max-width: 56.25em) {
      .show__arrow--up {
        grid-column: 1;
        grid-row: 1 / span 2;
        align-self: start;
        padding-top: 6.4rem; } }
    .show__arrow--down:hover {
      transform: translateY(10px); }
    @media only screen and (max-width: 56.25em) {
      .show__arrow--down {
        grid-column: 1;
        grid-row: 3 / span 2;
        align-self: end;
        padding-bottom: 6.4rem; } }
  .show__img-box {
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden; }
  .show__img {
    width: 100%; }
  .show__layer {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #011a34, #36f9d3);
    opacity: 0.5; }
  .show__text-box {
    position: absolute;
    bottom: 10%;
    left: 5%; }
    @media only screen and (max-width: 56.25em) {
      .show__text-box {
        width: 100%; } }
  .show__heading {
    width: 65%; }
  .show__details {
    display: flex;
    column-gap: 1.2rem;
    align-items: center;
    width: 90%; }
  .show__details > *:last-child {
    margin-left: auto; }
  .show__calendar-icon {
    font-size: 2.4rem; }
  .show__dates {
    font-size: 1.8rem;
    font-weight: 700; }
    @media only screen and (max-width: 37.5em) {
      .show__dates {
        font-size: 1.4rem; } }

.feature-box {
  padding: 3.6rem 2.4rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border: 1px solid #fff;
  border-radius: 1.3rem;
  box-shadow: 2rem 4rem 8rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      width: 75%; } }
  .feature-box:last-of-type .feature-box__icon {
    width: 10rem;
    height: 10rem; }
  .feature-box__icon {
    display: block;
    width: 8rem;
    height: 8rem;
    fill: #fff;
    align-self: center; }
  .feature-box__text {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    line-height: 1.4;
    text-align: center; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.gallery {
  padding: 9.6rem 0;
  position: relative;
  height: 80rem; }
  @media only screen and (max-width: 75em), only screen and (hover: none) {
    .gallery {
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 3.2rem;
      row-gap: 4.8rem; } }
  @media only screen and (max-width: 56.25em) {
    .gallery {
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 3.2rem;
      row-gap: 4.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .gallery {
      grid-template-columns: 1fr; } }
  .gallery__item {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 2rem 4rem 8rem rgba(0, 0, 0, 0.15);
    z-index: 10; }
    @media only screen and (max-width: 75em), only screen and (hover: none) {
      .gallery__item {
        width: 100%;
        position: relative; } }
    .gallery__item--1 {
      transform: translate(90%, 40%); }
      @media only screen and (max-width: 75em), only screen and (hover: none) {
        .gallery__item--1 {
          transform: translate(0, 0); } }
    .gallery__item--2 {
      transform: translate(0%, 70%); }
      @media only screen and (max-width: 75em), only screen and (hover: none) {
        .gallery__item--2 {
          transform: translate(0, 0); } }
    .gallery__item--3 {
      transform: translate(130%, 190%); }
      @media only screen and (max-width: 75em), only screen and (hover: none) {
        .gallery__item--3 {
          transform: translate(50%, 0); } }
      @media only screen and (max-width: 56.25em) {
        .gallery__item--3 {
          transform: translate(0%, 0); } }
    .gallery__item--4 {
      transform: translate(40%, 160%); }
      @media only screen and (max-width: 75em), only screen and (hover: none) {
        .gallery__item--4 {
          grid-column: 3;
          transform: translate(-50%, 0); } }
      @media only screen and (max-width: 56.25em) {
        .gallery__item--4 {
          grid-column: 1;
          transform: translate(50%, 0); } }
      @media only screen and (max-width: 37.5em) {
        .gallery__item--4 {
          transform: translate(0%, 0); } }
    .gallery__item--5 {
      width: 30%;
      transform: translate(215%, 40%); }
      @media only screen and (max-width: 75em), only screen and (hover: none) {
        .gallery__item--5 {
          width: 100%;
          transform: translate(0, 0); } }
    .gallery__item:hover {
      z-index: 20;
      box-shadow: 4rem 8rem 8rem rgba(0, 0, 0, 0.15); }
    .gallery__item:hover .gallery__testimonial {
      transform: translateY(0);
      opacity: 1; }
    .gallery__item:hover .gallery__img {
      transform: scale(1);
      filter: blur(3px) brightness(60%); }
      @media only screen and (max-width: 75em), only screen and (hover: none) {
        .gallery__item:hover .gallery__img {
          transform: scale(1.1);
          filter: none; } }
  .gallery__img {
    width: 100%;
    transform: scale(1.1);
    transition: all 0.5s; }
    @media only screen and (max-width: 75em), only screen and (hover: none) {
      .gallery__img {
        margin-bottom: 2.4rem; } }
  .gallery__img-layer {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(1, 26, 52, 0.35), rgba(54, 249, 211, 0.35));
    position: absolute;
    top: 0;
    left: 0; }
  .gallery__testimonial {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    padding: 3.6rem 4.8rem;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 0.1rem;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
    @media only screen and (max-width: 75em), only screen and (hover: none) {
      .gallery__testimonial {
        position: relative;
        transform: translateY(0);
        opacity: 1; } }
  @media only screen and (max-width: 75em), only screen and (hover: none) {
    .gallery__item--5 .gallery__testimonial {
      position: absolute;
      transform: translateY(0);
      opacity: 1;
      top: 37%; } }
  @media only screen and (max-width: 56.25em) {
    .gallery__item--5 .gallery__testimonial {
      top: 40%; } }
  @media only screen and (max-width: 37.5em) {
    .gallery__item--5 .gallery__testimonial {
      top: 50%; } }
  .gallery__testimonial-name {
    display: block;
    margin-top: 1.2rem;
    text-align: end; }
  .gallery__testimonial-quotes {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 8rem;
    width: 8rem;
    fill: rgba(255, 255, 255, 0.25); }
  .gallery__cta {
    text-align: center; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .4; }
  .video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.price-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 4.8rem 3.2rem;
  background-image: linear-gradient(to bottom left, rgba(22, 57, 82, 0.7), rgba(54, 187, 205, 0.7));
  box-shadow: 4rem 4rem 8rem rgba(0, 0, 0, 0.5);
  border-radius: 1.3rem;
  transition: all 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .price-box {
      padding: 3.2rem 2.4rem; } }
  .price-box--1 {
    justify-self: flex-end; }
    @media only screen and (max-width: 37.5em) {
      .price-box--1 {
        justify-self: center; } }
  .price-box--2 {
    justify-self: flex-start; }
    @media only screen and (max-width: 37.5em) {
      .price-box--2 {
        justify-self: center; } }
  .price-box__title {
    align-self: center; }
  .price-box__list {
    padding: 0 3.2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.2rem; }
  .price-box__list-item {
    display: flex;
    justify-content: space-between; }
  .price-box__list-item-name {
    align-self: center;
    justify-self: center; }
  .price-box__button {
    align-self: center; }
  .price-box__additional-info {
    align-self: center;
    width: 70%; }
  .price-box:hover {
    transform: scale(1.05);
    box-shadow: 8rem 8rem 8rem rgba(0, 0, 0, 0.5); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: rgba(1, 26, 52, 0.6);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 1.3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.4s 0.2s; }
    @media only screen and (max-width: 37.5em) {
      .popup__content {
        width: 100%;
        height: 100%; } }
  .popup__img-box {
    position: relative; }
  .popup__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .popup__layer {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #011a34, #36f9d3);
    opacity: 0.3; }
  .popup__text {
    font-size: 1.4rem;
    line-height: 1.6;
    padding: 3rem 5rem;
    justify-self: center;
    align-self: center; }
  .popup__details {
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #063460;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
    @media only screen and (max-width: 56.25em) {
      .popup__details {
        column-count: 1; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #fff;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    transition: all 0.2s; }
  .popup__close:hover {
    transform: scale(1.1); }
  .popup__button {
    margin-top: 4rem;
    text-align: center; }

.container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto; }

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: -7rem;
  z-index: 5000; }

.bubbles img {
  width: 50px;
  animation: bubblesAnimation 7s linear infinite; }

.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 25px; }

.bubbles img:nth-child(2) {
  animation-delay: 1s; }

.bubbles img:nth-child(3) {
  animation-delay: 3s;
  width: 25px; }

.bubbles img:nth-child(4) {
  animation-delay: 4.5s; }

.bubbles img:nth-child(5) {
  animation-delay: 3s; }

.bubbles img:nth-child(6) {
  animation-delay: 6s;
  width: 20px; }

.bubbles img:nth-child(7) {
  animation-delay: 7s;
  width: 35px; }

.header {
  height: 100vh;
  position: relative; }
  .header__slideshow-container {
    position: relative;
    overflow: hidden;
    height: 100vh; }
  .header__slide {
    position: absolute;
    top: 0;
    transition: transform 1s; }
  .header__slide-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover; }
  .header__slide-img-layer {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right top, #011a34, transparent); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%); }
  .header__buttons-box {
    display: flex;
    column-gap: 4.8rem; }
  .header__slide-buttons-box {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 2.4rem; }
  .header__dot {
    display: inline-block;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 2px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    transition: all 0.3s; }
    .header__dot:hover {
      background-color: #fff; }

.fade {
  animation-name: fade;
  animation-duration: 2s; }

.active {
  background-color: #fff; }

.footer {
  background-image: linear-gradient(to right, rgba(15, 39, 85, 0.95), rgba(11, 78, 82, 0.95)), url(../img/footer-small.jpg);
  background-size: cover; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.6em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .footer {
      background-image: linear-gradient(to right, rgba(15, 39, 85, 0.95), rgba(11, 78, 82, 0.95)), url(../img/footer-large.jpg); } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem;
    padding-top: 9.6rem; }
  .footer__logo {
    height: 5rem; }
  .footer__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 0.6fr 1fr;
    gap: 5.6rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__grid {
        grid-template-columns: 1fr 1fr; } }
  .footer__column-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
    letter-spacing: 0.2rem; }
  .footer__column-details {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 1.4;
    margin-bottom: 3.2rem; }
  .footer__column-social-links {
    display: flex;
    gap: 2.4rem; }
  .footer__column-social-link:link, .footer__column-social-link:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.8rem;
    transition: all 0.3s; }
  .footer__column-social-link:hover, .footer__column-social-link:active {
    transform: scale(1.1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .footer__column-social-link ion-icon {
    color: #fff;
    height: 3.2rem;
    width: 3.2rem; }

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 2000; }
  .navigation__background {
    position: fixed;
    top: 0;
    right: 0;
    background-image: linear-gradient(to top, rgba(1, 26, 52, 0.9), rgba(54, 249, 211, 0.3));
    width: 7rem;
    height: 100vh;
    transition: all 0.3s; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    position: absolute;
    top: 2%;
    right: 0;
    display: flex;
    align-items: center;
    height: 7rem;
    width: 7rem;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s; }
    .navigation__button:hover {
      transform: scale(1.2); }
  .navigation__icon {
    position: relative;
    left: 1.6rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      background-color: #fff;
      height: 3px;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon {
      width: 3rem; }
    .navigation__icon::before {
      width: 4rem;
      top: -1.2rem; }
    .navigation__icon::after {
      width: 2rem;
      top: 1.2rem; }
  .navigation__social-links {
    position: absolute;
    bottom: 10%;
    right: 10%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }
  .navigation__social-link:link, .navigation__social-link:visited {
    padding: 1.2rem;
    display: inline-block;
    transition: all 0.3s; }
  .navigation__social-link:hover, .navigation__social-link:active {
    transform: scale(1.1); }
  .navigation__social-link ion-icon {
    color: #fff;
    height: 3.2rem;
    width: 3.2rem; }
  .navigation__list {
    position: absolute;
    top: 10%;
    right: 30%;
    transform: translateX(170%);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    opacity: 0;
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1); }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s; }
  .navigation__link:hover, .navigation__link:active {
    transform: scale(1.1); }
  .navigation__additional-list {
    position: absolute;
    bottom: 13%;
    right: 20%;
    transform: translateX(170%);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    opacity: 0;
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1); }
  .navigation__additional-item {
    width: 75%; }
  .navigation__additional-link:link, .navigation__additional-link:visited {
    display: inline-block;
    line-height: 1.6;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s; }
  .navigation__additional-link:hover, .navigation__additional-link:active {
    transform: scale(1.1); }
  .navigation__checkbox:checked ~ .navigation__background {
    width: 35rem; }
    @media only screen and (max-width: 37.5em) {
      .navigation__checkbox:checked ~ .navigation__background {
        width: 100vh;
        background-image: linear-gradient(to top, rgba(1, 26, 52, 0.9), rgba(54, 249, 211, 0.9)); } }
    @media only screen and (max-width: 56.25em) and (orientation: landscape) {
      .navigation__checkbox:checked ~ .navigation__background {
        width: 100%;
        background-image: linear-gradient(to top, rgba(1, 26, 52, 0.9), rgba(54, 249, 211, 0.9)); } }
  .navigation__checkbox:checked ~ .navigation__background .navigation__nav .navigation__list {
    transform: translateX(0);
    opacity: 1; }
    @media only screen and (max-width: 37.5em) {
      .navigation__checkbox:checked ~ .navigation__background .navigation__nav .navigation__list {
        transform: translateX(50%); } }
    @media only screen and (max-width: 56.25em) and (orientation: landscape) {
      .navigation__checkbox:checked ~ .navigation__background .navigation__nav .navigation__list {
        transform: translateX(-100%); } }
  .navigation__checkbox:checked ~ .navigation__background .navigation__nav .navigation__additional-list {
    transform: translateX(10%);
    opacity: 1; }
  .navigation__checkbox:checked ~ .navigation__button {
    transform: rotate(-90deg); }

.section-shows {
  padding: 9.6rem 5.6rem 12.4rem 3.2rem; }
  @media only screen and (max-width: 37.5em) {
    .section-shows {
      padding: 9.6rem 2.4rem 12.4rem 0; } }
  .section-shows__grid {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    row-gap: 8rem;
    column-gap: 6.4rem; }
    @media only screen and (max-width: 56.25em) {
      .section-shows__grid {
        grid-template-columns: 0.7fr 4fr; } }
  @media only screen and (max-width: 56.25em) and (max-width: 37.5em) {
    .section-shows__grid {
      row-gap: 4.8rem;
      column-gap: 1.2rem; } }

.section-about {
  margin-top: 3.2rem;
  background-image: linear-gradient(to bottom right, rgba(1, 26, 52, 0.7), rgba(54, 249, 211, 0.7)), url(../img/about-large.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .section-about__text-box {
    padding: 9.6rem 3.2rem; }

.section-diving {
  padding: 9.6rem 0; }
  .section-diving__additional-to-heading {
    font-size: 1.6rem;
    width: 50%;
    margin-top: -2.4rem;
    margin-bottom: 6.4rem; }
    @media only screen and (max-width: 37.5em) {
      .section-diving__additional-to-heading {
        width: 100%; } }
  .section-diving__features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 0 6.4rem; }
    @media only screen and (max-width: 56.25em) {
      .section-diving__features {
        column-gap: 2.4rem;
        padding: 0 4.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-diving__features {
        grid-template-columns: 1fr;
        row-gap: 2.4rem;
        padding: 0 0; } }

.section-prices {
  position: relative; }
  .section-prices__text-box {
    padding: 9.6rem 3.6rem; }
  .section-prices__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12.4rem;
    justify-items: center; }
    @media only screen and (max-width: 56.25em) {
      .section-prices__grid {
        gap: 4.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-prices__grid {
        grid-template-columns: 1fr; } }

.section {
  transition: transform 1s, opacity 1s; }

.section--hidden {
  opacity: 0;
  transform: translateY(8rem); }
